.header {
  width: 100vw;
  height: 72.5px;
  background: #704040;
  z-index: 10;
  position: relative;
}

.navbar {
  width: 100%;
  height: 100%;
  padding: 0.35rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

#home-header {
  margin: 0;
  font-size: 16px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  width: auto;
  color: azure;
  z-index: 10;
  position: relative;
}
.div {
  display: flex;
}
#login-header {
  margin: 0;
  font-size: 16px;
  align-items: center;
  justify-content: flex-end;
  padding: 0 16px;
  width: auto;
  z-index: 10;
  position: relative;
  bottom: 10px;
  color: azure;

  text-align: right;
}
.center {
  display: inline-block;
  width: 2px;
  height: 30px;
  background-color: black;
}
#register-header {
  margin: 0;
  font-size: 16px;
  align-items: center;
  justify-content: flex-end;
  color: azure;
  padding: 0 16px;
  width: auto;
  bottom: 10px;
  z-index: 10;
  position: relative;
}
